* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  /* 背景图片、大小、位置 、灰度 */
  background-image: url("https://s1.328888.xyz/2022/07/24/mdnU7.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.2);
  height: 500px;
  padding: 0 1rem;
}

.logo-nav {
  /* 弹性布局 对齐条目居中 对齐内容左右分 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: rgb(255, 191, 191);
}
nav a {
  padding: 5px 1rem;
  /* 鼠标变小手 */
  cursor: pointer;
}
nav a:hover {
  font-weight: 700;
}

nav a.active {
  padding: 5px calc(1rem - 1px);
  border: 1px solid rgb(255, 191, 191);
  font-weight: 700;
}

.header-title {
  /* 弹性布局 方向列分布 对齐内容居中 对齐条目居中 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 高度为 父级-导航栏高 */
  height: calc(100% - 62px);
  /* background-color: rgb(97, 115, 172); */
  color: #fff;
}
.header-title h1 {
  font-size: 4rem;
}
.header-title p {
  font-size: 1rem;
  margin: 1rem 0;
}
.header-title img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* 最新项目 */
#home-blog {
  background-color: rgb(255, 245, 245);
  padding: 80px 0;
}

.home-blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: rgb(255, 164, 164);
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: 30px auto;
}
.home-blog-title div {
  width: 40px;
  height: 3px;
  background-color: rgb(255, 164, 164);
  margin-top: 20px;
}

.home-blog-content {
  /* 弹性布局 两端对齐首尾不留距离 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 宽度 外边距自适应 */
  width: 80%;
  margin: auto;
}
.home-blog-card {
  /* 自动缩放比例为1  */
  flex: 1 1 0;
  margin: 0 30px;
  box-shadow: 0px 0px 21px rgba(129, 129, 129, 0.459);
  background-color: #fff;
}
.home-blog-card:hover {
  box-shadow: 0px 0px 50px rgba(114, 113, 113, 0.459);
  cursor: pointer;
}
.home-blog-img {
  width: 100%;
  height: 250px;
  /* 图片拉伸以适应内容框 */
  object-fit: cover;
}
.home-blog-card-title {
  height: 180px;
  /* 弹性布局 列分布 横轴居中 纵轴居中 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.home-blog-card-title div {
  width: 60px;
  height: 1px;
  background-color: rgb(255, 164, 164);
  margin-bottom: 20px;
}

#home-about {
  display: flex;
  height: 500px;
  flex: 1 1 0;
  margin: 100px 100px;
}
#home-about img {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-about-content {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.home-about-content div p {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: rgb(255, 164, 164);
}
.home-about-content div div {
  width: 50px;
  height: 3px;
  background-color: rgb(255, 164, 164);
  margin: 30px auto;
}
.home-about-content > p {
  width: 80%;
  /* 行高 字间距 文本缩进 */
  line-height: 2rem;
  letter-spacing: 2px;
  text-indent: 2rem;
}

#home-contact {
  height: 360px;
  background-color: rgb(255, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-contact-title {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: rgb(255, 164, 164);
  margin-bottom: 10px;
}
.home-contact-sentence {
  letter-spacing: 3px;
  color: rgb(255, 176, 176);
  font-size: 16px;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#home-contact-email {
  width: 500px;
  padding: 10px 10px;
  font-size: 16px;
  border: 0;
  background-color: #fff;
  outline: none;
}
#home-contact-email::placeholder {
  opacity: 0.4;
}
#home-contact-submit {
  width: 150px;
  padding: 10px;
  border: 1px solid rgb(255, 164, 164);
  background-color: rgb(255, 245, 245);
  color: rgb(255, 164, 164);
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
#home-contact-submit:hover {
  background-color: rgb(255, 164, 164);
  color: rgb(255, 245, 245);
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color: #999;
  font-size: 16px;
}
footer i {
  margin-right: 20px;
}
footer div {
  position: relative;
}
footer i p {
  position: absolute;
  bottom: 25px;
  display: none;
}
footer i:hover p {
  display: block;
}
footer a {
  text-decoration: none;
  color: #999;
}

@media (orientation: portrait) {
  .header-title h1 {
    font-size: 2rem;
  }
  #home-contact-email {
    width: 80vw;
  }

  .home-blog-content {
    flex-direction: column;
  }
  .home-blog-card {
    flex: 1 1 0;
    margin: 30px auto;
  }
  .home-blog-img {
    width: 100%;
    height: 50%;
  }

  #home-about {
    display: block;
    height: 800px;
    margin: 0 auto;
  }
  #home-about img {
    margin: 80px auto;
    width: 50%;
    height: 180px;
  }
  .home-about-content {
    width: 80%;
    height: 50%;
    margin: 60px auto;
  }
  .home-about-content > p {
    width: 100%;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    text-indent: 2rem;
  }
  .home-contact-sentence {
    width: 85vw;
  }
}
